#status {
  width: 100%;
  margin-right: 1%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  .active-hyg {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 181, 181);
    border: 2px solid rgb(207, 38, 38);
    color: rgb(207, 38, 38);
    border-radius: 15px;
    height: 50px;
    padding: 2px;
}
  .active-faim {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(192, 247, 167);
    border: 2px solid rgb(83, 179, 39);
    color: rgb(83, 179, 39);
    border-radius: 15px;
    height: 50px;
    padding: 2px;

  }
  .active-sleep {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 176, 255);
    border: 2px solid rgb(121, 37, 160);
    color: rgb(121, 37, 160);
    border-radius: 15px;
    height: 50px;
    padding: 2px;

  }
}
