//Paramètres Généraux

body{
    width: 90vw;
    background-image: linear-gradient(rgb(178, 247, 243), rgb(101, 219, 200));
    background-image: -webkit-linear-gradient(rgb(178, 247, 243), rgb(101, 219, 200));
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    margin: 0 auto;
    a{
        text-decoration:none;
    }
    h1{
        font-family: 'Pacifico', cursive;
        font-size: 50px;
        margin: 0;
        text-shadow: 2px 0 0 rgb(255, 255, 255), 2px 2px 0 rgb(255, 255, 255), 0 2px 0 rgb(255, 255, 255), -2px 2px 0 rgb(255, 255, 255), -2px 0 0 rgb(255, 255, 255), -2px -2px 0 rgb(255, 255, 255), 0 -2px 0 rgb(255, 255, 255), 2px -2px 0 rgb(255, 255, 255);
    }
}
@media screen and (max-width: 720px){
    body {
        h1{
            font-size: 20px;
        }
    }
    h2{
        font-size: 15px;
    }
    header{
        .regle{
            font-size: 15px;
        }
    }
}
#score{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}