.entete{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100px;
    align-items: center;
    width: 98.6%;
    border: 3px solid rgb(112, 67, 24);
    background-color: rgb(167, 117, 60);
    #potatoDeath{
        width: 50%;
    }
    input{
        margin: 5px;
    }
}
.general{
    width: 98.6%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border-left: 3px solid rgb(112, 67, 24);
    border-right: 3px solid rgb(112, 67, 24);
}
.scorimg{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.button{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 49.5%;
    align-items: center;
    background-color: rgb(152, 212, 230);
}

footer{
    width: 98.6%;
    background-color: rgb(167, 117, 60);
    border: 3px solid rgb(112, 67, 24);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.status{
    display:flex;
    align-items: center;
    width: 55%;
    flex-direction: row;
    justify-content: space-evenly;
    p{
        margin: 0 10px;
    }
}
.img{
    background-color: rgb(112, 190, 214);
    width:50%;
    border-right: 3px solid rgb(112, 67, 24);
    img{
        width:25%;
        height: auto;
    }
    .jauge{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(190, 134, 70);
        border-top: 3px solid rgb(112, 67, 24);
        border-bottom: 3px solid rgb(190, 134, 70);
    }
}

@media screen and (max-width: 840px){
    .img{
        width: 100%;
        border-right: 0px;
        .jauge{
            border-bottom: 3px solid rgb(112, 67, 24);
        }
    }
}