input{
    width: 150px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 25px;
    font-size: 20px;
    color: #fff;
    outline: none;
    &#start{
        background-color: rgb(45, 114, 192);
        &:hover{
            background-color: rgb(106, 161, 224);
        }
    }
    &#reset{
        background-color: rgb(216, 97, 97);
        &:hover{
            background-color: rgb(235, 134, 134);
        }
    }
    &#dodo{
        background-color: rgb(160, 76, 209);
        &:hover{
            background-color: rgb(198, 141, 231);
        }
    }
    &#nourrir{
        background-color: rgb(51, 143, 8);
        &:hover{
            background-color: rgb(93, 185, 51);
        }
    }
    &#laver{
        background-color: rgb(122, 89, 26);
        &:hover{
            background-color: rgb(175, 133, 53);
        }
    }
    &#V2{
        background-color: rgb(255, 239, 21);
        &:hover{
            background-color: rgb(255, 249, 167);
        }
    }
    &#consoleValid{
        background-color: rgb(44, 44, 44);
        &:hover{
            background-color: rgb(107, 107, 107);
        }
    }
}

