.dico {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 49.6%;
  align-items: center;
  background-color: rgb(152, 212, 230);
  img {
    width: 50px;
    height: 50px;
  }
  p {
    display: block;
    width: 89%;
  }
  span {
    color: #fff;
    background-color: rgb(44, 44, 44);
  }
}

#dicoBlabla {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items:center;
}

#console{
  width: 100%;
  height: auto;
  background-color: rgb(44, 44, 44);
  padding: 5px;
  border-top: 3px solid #704318;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  label{
    color: #fff;
  }
  #consoleText{
    width: 70%;
    background-color: rgb(44, 44, 44);
    color: #fff;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 15px;
    outline: none;
  }
}
@media screen and (max-width: 840px){
  .dico{
    width:100%;
  }
}