//Agencement des blocks

header{
    display: flex;
    flex-direction: row;
    width: 99.1%;
    .titre{
        background-color: rgb(223, 183, 74);
        padding: 5px;
        border-top-left-radius: 25px;
        border-top: 3px solid rgb(112, 67, 24);
        border-left: 3px solid rgb(112, 67, 24);
        width:50%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .regle{
        width:50%;
        background-color: rgb(235, 206, 129);
        padding: 5px;
        border-top-right-radius: 25px;
        border-right: 3px solid rgb(112, 67, 24);
        border-top: 3px solid rgb(112, 67, 24);
    }
}