//Jauge sommeil
#sommeilProgress {
  width: 90%;
  height: 24px;
  padding: 4px;
  background-color: #362408;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  box-shadow: inset 0 1px 2px #362408, 0 1px 0 #684919;
  -webkit-box-shadow: inset 0 1px 2px #362408, 0 1px 0 #684919;
  -moz-box-shadow: inset 0 1px 2px #362408, 0 1px 0 #684919;
  span {
    display: block;
    width: 100%;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 24px;
      background: #999;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
      background: rgb(118, 24, 146);
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(118, 24, 146)), to(rgb(73, 12, 92)));
      background: -moz-linear-gradient(top, rgb(118, 24, 146), rgb(73, 12, 92));
    }
    &:after {
      content: "||||||||||||||||||||||||||||";
      display: block;
      position: absolute;
      width: 100%;
      height: 24px;
      overflow: hidden;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      transform: skewX(-30deg);
      -webkit-transform: skewX(-30deg);
      -moz-transform: skewX(-30deg);
      -o-transform: skewX(-30deg);
      font: bold 120px/80px sans-serif;
      letter-spacing: -6px;
      color: #000;
      opacity: 0.06;
    }
  }
}
//Jauge Faim
#faimProgress {
  width: 90%;
  height: 24px;
  padding: 4px;
  background-color: #362408;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  box-shadow: inset 0 1px 2px #362408, 0 1px 0 #684919;
  -webkit-box-shadow: inset 0 1px 2px #362408, 0 1px 0 #684919;
  -moz-box-shadow: inset 0 1px 2px #362408, 0 1px 0 #684919;
  span {
    display: block;
    width: 100%;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 24px;
      background: #999;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
      background: rgb(59, 212, 12);
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(59, 212, 12)), to(rgb(40, 145, 9)));
      background: -moz-linear-gradient(top, rgb(59, 212, 12), rgb(40, 145, 9));
    }
    &:after {
      content: "||||||||||||||||||||||||||||";
      display: block;
      position: absolute;
      width: 100%;
      height: 24px;
      overflow: hidden;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      transform: skewX(-30deg);
      -webkit-transform: skewX(-30deg);
      -moz-transform: skewX(-30deg);
      -o-transform: skewX(-30deg);
      font: bold 120px/80px sans-serif;
      letter-spacing: -6px;
      color: #000;
      opacity: 0.06;
    }
  }
}
//Jauge Hygiene
#hygieneProgress {
  width: 90%;
  height: 24px;
  padding: 4px;
  background-color: #362408;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  box-shadow: inset 0 1px 2px #362408, 0 1px 0 #684919;
  -webkit-box-shadow: inset 0 1px 2px #362408, 0 1px 0 #684919;
  -moz-box-shadow: inset 0 1px 2px #362408, 0 1px 0 #684919;
  span {
    display: block;
    width: 100%;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 24px;
      background: #999;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
      background: rgb(238, 18, 18);
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(238, 18, 18)), to(rgb(150, 14, 14)));
      background: -moz-linear-gradient(top, rgb(238, 18, 18), rgb(150, 14, 14));
    }
    &:after {
      content: "||||||||||||||||||||||||||||";
      display: block;
      position: absolute;
      width: 100%;
      height: 24px;
      overflow: hidden;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      transform: skewX(-30deg);
      -webkit-transform: skewX(-30deg);
      -moz-transform: skewX(-30deg);
      -o-transform: skewX(-30deg);
      font: bold 120px/80px sans-serif;
      letter-spacing: -6px;
      color: #000;
      opacity: 0.06;
    }
  }
}
